.question-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
margin-top: 10%;  gap: 2rem;
  font-size: 2rem;
color: var(--white-color);
}

.utility-icons{
  display: flex;
  justify-content: space-evenly;
    width: 100%;
}
.utility-icons>.icon{
cursor: pointer;
  display: flex;
  gap: 1rem;
  color: var(--white-color);
}
.question-number{
  font-size:2rem ;
}
.question{
  text-align: center;
}
.timer{
  display: flex;
  align-items: center;
}
.options-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.next-icon{
  fill: var(--white-color);
}
.option{
 min-width: 50%;
  cursor: pointer;
  background-color: var(--black-color);
padding: 1rem;
transition: all 0.5s ease;
}

.option:hover {
  background-color: #454851;
  transform: scaleX(1.05);
}
