.result {
  text-align: center;
  color: var(--white-color);

}

.result > .score {
  margin: 2rem 0;
  font-size: 1.8rem;
}

.result > .score > span {
  font-weight: bold;
}

.result > .right-wrong {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result > .right-wrong > .answered-box {
  width: 80%;
  margin: 1rem 2rem;
  padding: 1rem 1rem;
  font-size: 1.5rem;
}

.result > .right-wrong > .correctly-answered {
  border: 1px solid var(--sucess-color);
}



.result > .right-wrong > .wrongly-answered {
  border: 1px solid var(--error-color);
}
.result > .right-wrong > .un-answered{
  border: 1px solid var(--alternate-color);
  margin-bottom: 3rem;
}
.span-element{
  margin: 0 1rem;
  position: relative;
  bottom: 0.1rem;
  font-size: 1.5rem;
  font-weight: 800;
}


.result > button {
  font-size: 2rem;
  text-decoration: none;
  color:var(--white-color);
  border: 1px solid var(--alternate-color);
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  background-color: black;
}



@media screen and (min-width: 768px) {

  .quizResult > .right-wrong > .answered-box {
    width: 300px;
  }

}